**/.idea/*

src/FlowLite/obj/**
src/FlowLite/bin/**
src/package/FlowLite/obj/**
src/package/FlowLite/bin/**
src/package/FlowLite.Testing/obj/**
src/package/FlowLite.Testing/bin/**
src/package/FlowLite.Diagnostics/obj/**
src/package/FlowLite.Diagnostics/bin/**
src/package/FlowLite.Core/obj/**
src/package/FlowLite.Core/bin/**
src/package/FlowLite.Core.Abstractions/obj/**
src/package/FlowLite.Core.Abstractions/bin/**

src/samples/FlowLite.Console/bin/**
src/samples/FlowLite.Console/obj/**
src/samples/FlowLite.WebApi/bin/**
src/samples/FlowLite.WebApi/obj/**
src/samples/orders/OrderGateway.Api/bin/**
src/samples/orders/OrderGateway.Api/obj/**
src/samples/orders/OrderGateway.Api.Abstractions/bin/**
src/samples/orders/OrderGateway.Api.Abstractions/obj/**
src/samples/orders/Orders.Processor/bin/**
src/samples/orders/Orders.Processor/obj/**

src/tools/FlowLite.Diag/bin/**
src/tools/FlowLite.Diag/obj/**

src/tests/FlowLite.Core.Tests/bin/**
src/tests/FlowLite.Core.Tests/obj/**
src/tests/FlowLite.Diag.Tests/bin/**
src/tests/FlowLite.Diag.Tests/obj/**
src/samples/orders/Orders.Processor.Tests/bin/**
src/samples/orders/Orders.Processor.Tests/obj/**

src/NuGetPackages/**

**/*.user